*{
    padding: 0px;
    margin: 0px;

}
body {
    background-color: rgba(54, 51, 51, 0.986);
}
.container{

    display: grid;
    grid-template-areas: 
    "head head head"
    "conten conten conten"
    "foter foter foter";

}
.header{
    justify-content: flex-end;
   display: flex;
    padding: 20px;
    grid-area: head;
    background-color: rgba(63, 35, 82, 0.692);

}
.content{

   margin: 10px;
   padding: 30px;
   width: auto;
   height: auto;
    display: grid;
    grid-area: conten;
    grid-template-areas: 
    "konten konten konten"
    "conten1 conten2 conten3"
    "conten1 conten2 conten3"
    "conten1 conten2 conten3";
    gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;


}

.footer{
    padding: 15px;

    grid-area: foter;
    background-color: rgb(144, 39, 153);


}
.konten1{
    background-image: url("violet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 100%;
    border-radius: 20px;
    background-size: cover;

    padding: 250px;
    margin: 0px;
    margin-bottom: 200px;
    background-color: rgba(26, 7, 7, 0.438);
    grid-area: konten;
    
}

.content1{


    grid-area: conten1;
    background-color: antiquewhite;


}

.content2{


    background-color: antiquewhite;

    grid-area: conten2;


}

.content3{

    grid-area: conten3;
    background-color: antiquewhite;
    
}


.headli {
    

   padding-right: 250px;
    list-style: none;
    text-decoration: none;
    display: flex;

    
}
.headli>li>a {
    text-decoration: none;
    margin: 0px;
    padding: 10px;
color:rgb(245, 147, 164);
}

.apa {
margin: 0 auto;
    color: wheat;
}

.konmm {
    color: wheat;
}

ul>li :hover {
    color: pink;
    text-shadow: 1px 0px 10px;
}
.footer>h5 {
    
    text-align: center;
}